extends ./layout/index

block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            div.col-md-7
                h1 #{pagina}
                blockquote En nuestra agencia de viajes, nos apasiona crear experiencias inolvidables para nuestros clientes. Con años de experiencia en la industria del turismo, nos hemos convertido en expertos en diseñar itinerarios personalizados que se adaptan a las necesidades y deseos de cada viajero. Ya sea que estés buscando unas vacaciones relajantes en una playa paradisíaca, un emocionante safari en la selva africana o un recorrido cultural por antiguas ciudades europeas, estamos aquí para hacer realidad tus sueños de viaje.

                p Nuestro equipo de agentes de viajes altamente capacitados está comprometido en brindarte un servicio excepcional desde el momento en que nos contactas hasta que regresas a casa con recuerdos inolvidables. Nos enorgullece escuchar atentamente tus preferencias y necesidades para poder ofrecerte las mejores opciones de destinos, vuelos, alojamiento y actividades.

                p En nuestra agencia, creemos en el poder transformador de los viajes. No solo te brindamos la oportunidad de explorar nuevos destinos, sino que también te invitamos a sumergirte en diferentes culturas, descubrir paisajes impresionantes y ampliar tus horizontes. 

    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p La seguridad de nuestros clientes es nuestra máxima prioridad. Entendemos que viajar implica confiar en nosotros para garantizar tu bienestar en todo momento.
                
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p La seguridad de nuestros clientes es nuestra máxima prioridad. Entendemos que viajar implica confiar en nosotros para garantizar tu bienestar en todo momento.
                
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p La seguridad de nuestros clientes es nuestra máxima prioridad. Entendemos que viajar implica confiar en nosotros para garantizar tu bienestar en todo momento.


